@charset "UTF-8";

:root {
  --dark0:  #2e3440;
  --dark1:  #3b4252;
  --dark2:  #434c5e;
  --dark3:  #4c566a;

  --light0: #d8dee9;
  --light1: #e5e9f0;
  --light2: #eceff4;
  --light3: #ffffff;

  --frost0: #8fbcbb;
  --frost1: #88c0d0;
  --frost2: #81a1c1;
  --frost3: #5e81ac;

  --red:    #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green:  #a3be8c;
  --purple: #b48ead;

  --bg-color: var(--light3);
  --secondary-bg-color: var(--light0);
  --body-color: var(--dark3);
  --border-color: var(--light0);
  --link-color: var(--frost3);
}

html[data-theme='dark'] {
  --bg-color: var(--dark0);
  --secondary-bg-color: var(--dark1);
  --body-color: var(--light0);
  --border-color: var(--dark1);
  --link-color: var(--frost1);
}

html {
  font-size: 67.5%;
}

body {
  color: var(--body-color);
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  width: 100%;
}

.sidebar .logo-title .title a {
    font-size: 2.5rem;
    font-weight: 500;
}
.sidebar .social-links a:hover {
    color: var(--link-color);
}

header .nav__list {
    font-size: 1.25rem;
}
header .nav__list a:hover {
  color: var(--link-color);
}
header .nav__list a.current {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--link-color);
}

.list-with-title .listing-title {
    color: var(--body-color);
}
.list-with-title .listing .listing-post a {
    color: var(--body-color);
}
.list-with-title .listing .listing-post .post-time {
    color: var(--body-color);
}
.list-with-title .listing .listing-post a:hover {
    color: var(--link-color);
}

.post .post-title h1 {
    text-transform: none;
    font-size: 2em;
    font-weight: 500;
}
.post .post-title h3 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 1.5em;
}
.post .post-content a:hover {
    color: var(--link-color);
}
.post .post-content a {
  color: var(--link-color);
}
